@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype'),
         
}
html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    
    }

body
{
    font-family: 'Raleway', Arial, sans-serif;
} 

header {
    
    padding-left: 2rem;
}

section {
    padding-left: 2rem;
}

h3 {
    padding-left: 2rem;
}

#button-submit {
    color: white;
    background-color: #0065FC;
    border-style: none;
    padding: 9px;
    padding-top: 13px;
    padding-bottom: 10px;
    position: relative;
    left: -6px;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    padding-right: 13Opx;
    padding-right: 18px;
}


.form {
    padding: 7px;
    padding-top: 12px;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 1px;
    padding-left: 8px;
    position: relative;
    left: -1px;
    padding-bottom: 9px;
}

#filtre {
    display: flex; 
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    width: 64rem;
    
}
#filtre p {margin: auto; margin-right: 15px;}
#filtre a {
    text-decoration: none;
    color: #181818;
    text-decoration: none;
    color: #181818;
    border-style: solid;
    border-width: 2px;
    margin-right: 10px;
    border-color:#F2F2F2;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 9px;
    border-radius: 40px;
    margin-left: 20px;

}
.fa-money-bill-wave:before {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 24px;
    margin-right: 10px;
    position: relative;
    left: -3px;
}

.fa-child:before{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 24px;
    margin-right: 10px;
    position: relative;
    left: -3px;
    padding-left: 15px;
    padding-right: 15px;
}

.fa-heart:before
{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 24px;
    margin-right: 10px;
    position: relative;
    left: -3px;
    padding-left: 13px;
    padding-right: 13px;
}

.fa-dog:before{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 24px;
    margin-right: 10px;
    position: relative;
    left: -3px;
    padding-left: 13px;
    padding-right: 13px;
}

.fa-info{
    color: #0065FC;
    padding: 6px;
    border-radius: 24px;
    margin-right: 10px;
    position: relative;
    left: -3px;
    padding-left: 11px;
    padding-right: 11px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1.5px;
}

#info{
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: small;
}

.fa-map-marker-alt:before{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;

    padding-top: 11px;
    padding-bottom: 11px;
}


nav ul
{
    list-style-type: none;
    position: absolute; top: 5%; right: 5%;
    display: flex;
    font-size: small;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 2.9rem;
}








#section1 { 
    display: flex;
    margin-bottom: 50px;
    }


#marseille {
    background-color: #ededed;
    border-radius: 1rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65%;
    padding: 1%;
     }

 .fa-star:before {
        content: "\f005";
        color: #0065FC;
    }

.fa-starvide:before {
    content: "\f005";
    color: #ededed;
}

#marseille h4 {
    width: 100%;
    margin: auto;
    padding-bottom: 0.4rem;
    padding-top: 0.5rem;}

.hebergement {
    background-color: white;
    padding: 4px;
    border-radius: 18px;
    height: 12rem;
}
#imgvignette {
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    width: 15rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

#imgvignette2 {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    width: 15rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

#imgvignette3 {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    width: 15rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}


#imgvignette4 {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    width: 15rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}


#imgvignette5 {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    width: 15rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

#imgvignette6 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    width: 15rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}



.textevignette {
    font-size: small;
    padding-left: 1rem;
    

}
#vignette {
    background-color:white;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

#vignette p{
    padding-left: 10px;
    font-size: small;
}
#vignette img {
    width: 16rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

aside { background-color: gainsboro;
    background-color: #ededed;
    border-radius: 1rem;
    padding: 15px;
    width: 21%;
    margin-right: 3rem;
    
}

.vignette_aside {
    background-color: white;
    margin-bottom: 2rem;
    display: flex;
    
    border-radius: 18px;
    padding: 4px;

}
.vignette_aside img {
    width: 10rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
    }

#imageaside {
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    width: 6.8rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#imageaside2 {
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    width: 6.8rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#imageaside3 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    width: 6.8rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.texteaside {
    padding-left: 1rem;
    font-size: small;
}

.petit {
    font-size: 13px;
    line-height: 25px;
}









#section3 {
    
    
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
    
}

#Bloc1 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.sousbloc1 {
    flex-wrap: wrap;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#Bloc2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#act1 {
    background-size: cover;
    width: 19rem;
    height: 22rem;
    background-image: url(images/activites/4_small/vieuxport.jpg);
    
    flex-wrap: wrap;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act2 {
    background-size: cover;
    width: 19rem;
    height: 11rem;
    background-image: url(images/activites/4_small/iledufrioul.jpg);
    flex-wrap: wrap;
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    
}


#act3 {
    background-size: cover;
    width: 19rem;
    height: 6.5rem;
    background-image: url(images/activites/4_small/fort.jpg);
    background-position-y: center;
    
    flex-wrap: wrap;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 5rem;
    
}

#act4 {
    background-size: cover;
    width: 19rem;
    height: 22rem;
    background-image: url(images/activites/4_small/calanques.jpg);
    
    flex-wrap: wrap;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#act5 {
    background-size: cover;
    width: 19rem;
    height: 6.5rem;
    background-image: url(images/activites/4_small/notredame.jpg);
    flex-wrap: wrap;
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    
}


#act6 {
    background-size: cover;
    width: 19rem;
    height: 11rem;
    background-image: url(images/activites/4_small/longchamps.jpg);
    flex-wrap: wrap;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 5rem;
    
}


.title1 {
    position: relative;
    top:21rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 1px 1px grey;
    width: 19rem;
    flex-wrap: wrap;
}

.title1 p {padding: 20px;}

#title2 {
    position: relative;
    top:8.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 1px 1px grey;
    width: 19rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    
}

#title2 p {padding: 20px;}

#title3 {
    position: relative;
    top:0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 1px 1px grey;
    width: 19rem;
    margin-top: 6rem;
    flex-wrap: wrap;
}

#title3 p {padding: 20px;}

#title5 {
    position: relative;
    top:4.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 1px 1px grey;
    width: 19rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    
}

#title5 p {padding: 20px;}

#title6 {
    position: relative;
    top:4.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 1px 1px grey;
    width: 19rem;
    margin-top: 6rem;
    flex-wrap: wrap;
}

#title6 p {padding: 20px;}



#footer {
    background-color:#ededed; display: flex; margin-top: 7rem; width: 95%;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.column1 {
    flex: 1 1 auto;
  }

  .column2 {
    flex: 1 1 auto;
  }

  .column3 {
    flex: 1 1 auto;
  }

  @media all and (max-width: 1245px){

    #act5,#act2 {
        margin-top: 5.5rem;
    }

  }

  @media all and (max-width: 1216px){

    .hebergement {
        margin-top: 1rem;
    }

  }


  @media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }

    #section1 {
        flex-flow: column-reverse;

    }

    #marseille {
        width: 64rem;
        flex-direction: column;
        margin-top: 2rem;
    }

    #section3 {
        flex-direction: column;
        margin-left: 7rem;
    }

    nav ul {
        
        list-style-type: none;
        position: relative;
        bottom: 8rem;
        right: 4%;
        display: flex;
        font-size: small;
        
    }

    #logo h2 {
        margin-top: 4rem;
        width: 51rem;
    }

    aside {
        
        width: 64rem;
        border-radius: 0;
    }
    nav a:hover
    {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 0.2rem;
    border-top: 0px solid #0065FC;
    }

    nav a{
        border-bottom: 2px solid #ededed;
        margin-right: 94px;
    }

    #section1 {
        width: 100%;
    }

  
    aside h4{
        font-size: 25px;
    }

    #imageaside {
        width: 8.8rem;
    height: 9rem;
    }



    .texteaside{
        font-size: 21px;
        
    }

    #imageaside2 {
        width: 8.8rem;
    height: 9rem;
    }

    #texteaside2{
        font-size: 21px;
    }

    #imageaside3 {
        width: 8.8rem;
    height: 9rem;
    }

    #texteaside3{
        font-size: 21px;
    }

    #footer {
        width: 66rem;
        margin: 0;
        padding: 0;
        margin-top: 8rem;
        padding-top: 3rem;
    }

    .column1 {
        padding-left: 4rem;
    }
    .column2 {
        padding-left: 4rem;
    }
    .column3 {
        padding-left: 4rem;
    }

    section {
        padding-left: 0rem;
    }

  

    #marseille h4 {
        font-size: 30px;
        padding-left: 1rem;
        width: 100%;
        margin: auto;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
    }

    #marseille {
        background-color:#ffffff;
    }

    #marseille {
        background-color: #ffffff;
    }

    #imgvignette {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    .textevignette {
        font-size: 21px;
        padding-left: 1rem;
    }

    .hebergement{
        margin-bottom: 1rem;
        box-shadow: 4px 5px 1px #ededed
        ;
        padding-bottom: 4rem;
    }

    .petit {
        font-size: 19px;
        line-height: 25px;
    }

    #imgvignette2 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette2  {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette3 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette3  {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette4 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette4  {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette5 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette5 {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette6 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette6 {
        font-size: 21px;
        padding-left: 1rem;
    }

    h3 {
        padding-left: 2rem;
        font-size: 29px;
    }

    #Bloc1 {
        width: 52rem;
        
    }

    #act1 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    .title1 {
        width: 25rem;
        position: relative;
        top: 9rem;
    }

    #act2 {
        margin-top: 5rem;
    }

    #act2 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title2 {
        width: 25rem;
        position: relative;
        top: 8.5rem;
    }

    #act3 {
        margin-top: 5rem;
    }

    #act2 {
        margin-top: 5rem;
    }

    #act3 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title3 {
        width: 25rem;
        position: relative;
        top: 4.5rem;
    }

    #act4 {
        margin-top: 5rem;
    }

    #Bloc2{
        
        width: 52rem;
        
    }

    #act4 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title4 {
        width: 25rem;
        position: relative;
        top: 9rem;
    }

    #act5 {
        margin-top: 5rem;
    }

    #act5 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title5 {
        width: 25rem;
        position: relative;
        top: 8.5rem;
    }

    #act6 {
        margin-top: 5rem;
    }

    #act6 {
        margin-top: 5rem;
    }

    #act6 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title6 {
        width: 25rem;
        position: relative;
        top: 4.5rem;
    }
    
}


@media all and (max-width: 666px){
    nav ul {
        list-style-type: none;
        position: relative;
        bottom: 9.5rem;
        right: 4%;
        display: flex;
        font-size: small;
        width: 100%;
    }

    nav {
            position: relative;
            top: 1.5rem;
        }
    }
    


@media all and (max-width: 457px){
    
    body { overflow-x: hidden;}

    

.inscription a {
    position: absolute;
    top: -4rem;
    left: 20rem;
    border: 0px;
    color: #0065FC;
    padding-right: 2rem;
    }

    nav {
        position: relative;
        top: 0.5rem;
    }
    

    nav a{
        border-bottom: 0px solid #ededed;
        margin-right: 94px;
        margin-left: 1.5rem;
    }

    nav ul{
        width: 28rem;
        border-bottom: 2px solid #ededed;
        padding-bottom: 10px;
        position: relative;
        bottom: 11rem;
        right: 3%;
        
    }

    #logo h2 {
        margin-top: 6rem;
        text-align: center;
        width: 26rem;
    }

    #logo p {
        width: 27rem;
        text-align: center;
    }

    #searchbox{
        width: 28rem;
        margin-top: -2rem;
        text-align: center;
    }

    .titlefiltre {
        width: 100%;
        margin-bottom: 1.7rem;
    }

    #filtre {
        width: 30rem;
    }

    #filtre3 {
        margin-top: 2.5rem;
      
    }

    #filtre4 {
        
        
        position: relative;
        top: 6rem;
        left: -12rem;

    }

    #info {
        font-size: 18px;
        width: 23rem;
    margin-top: 7rem;

    }

    .fas.fa-info {
        float: left;
    }

    aside {
        width: 31.5rem;
        margin-bottom: 3rem;
        border-radius: 0;
    }
    aside h4{
        font-size: 25px;
    }

    #imageaside {
        width: 8.8rem;
    height: 9rem;
    }



    .texteaside{
        font-size: 21px;
        
    }

    #imageaside2 {
        width: 8.8rem;
    height: 9rem;
    }

    #texteaside2{
        font-size: 21px;
    }

    #imageaside3 {
        width: 8.8rem;
    height: 9rem;
    }

    #texteaside3{
        font-size: 21px;
    }

    #footer {
        width: 34rem;
        margin: 0;
        padding: 0;
        margin-top: 8rem;
        padding-top: 3rem;
        flex-direction: column;
    }

    .column1 {
        padding-left: 4rem;
    }
    .column2 {
        padding-left: 4rem;
    }
    .column3 {
        padding-left: 4rem;
    }

    section {
        padding-left: 0rem;
    }

    #marseille {
        width: 29rem;
    }

    #marseille h4 {
        font-size: 30px;
        padding-left: 1rem;
        width: 100%;
        margin: auto;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
    }

    #marseille {
        background-color:#ffffff;
    }

    #marseille {
        background-color: #ffffff;
    }

    #imgvignette {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    .textevignette {
        font-size: 21px;
        padding-left: 1rem;
    }

    .hebergement{
        margin-bottom: 1rem;
        box-shadow: 4px 5px 1px #ededed
        ;
        padding-bottom: 4rem;
    }

    .petit {
        font-size: 19px;
        line-height: 25px;
    }

    #imgvignette2 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette2  {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette3 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette3  {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette4 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette4  {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette5 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette5 {
        font-size: 21px;
        padding-left: 1rem;
    }

    #imgvignette6 {
        
        width: 25rem;
        height: 9rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    #textevignette6 {
        font-size: 21px;
        padding-left: 1rem;
    }

    h3 {
        padding-left: 2rem;
        font-size: 29px;
    }

    #Bloc1 {
        width: 15.5rem;
        
    }

    #act1 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    .title1 {
        width: 25rem;
        position: relative;
        top: 9rem;
    }

    #act2 {
        margin-top: 5rem;
    }

    #act2 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title2 {
        width: 25rem;
        position: relative;
        top: 8.5rem;
    }

    #act3 {
        margin-top: 5rem;
    }

    #act2 {
        margin-top: 5rem;
    }

    #act3 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title3 {
        width: 25rem;
        position: relative;
        top: 4.5rem;
    }

    #act4 {
        margin-top: 5rem;
    }

    #Bloc2{
        width: 15.5rem;
        
    }

    #act4 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title4 {
        width: 25rem;
        position: relative;
        top: 9rem;
    }

    #act5 {
        margin-top: 5rem;
    }

    #act5 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title5 {
        width: 25rem;
        position: relative;
        top: 8.5rem;
    }

    #act6 {
        margin-top: 5rem;
    }

    #act6 {
        margin-top: 5rem;
    }

    #act6 {
      
        width: 25rem;
        height: 10rem;
        margin-left: 1.5rem;
    }


    #title6 {
        width: 25rem;
        position: relative;
        top: 4.5rem;
    }


}